body {
  background-color: #fefefe;
  font-family: 'Segoe UI', sans-serif;
}

h4 {
  color: darkblue;
  font-size: 28px;
}

.btn-primary {
  background-color: #0066cc;
  border: none;
  font-weight: bold;
}
